body {
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-s);
    width: 80%;
    margin: auto;
    padding-top: var( --main-spacing-size);
    padding-bottom: var( --main-spacing-size);
}

h1,
h2,
h3 {
    
    color: var(--main-header-color);
    font-weight: bold;
}

h1 {
    font-size: var(--font-size-xxl);
    border-bottom: 5px solid var(--main-header-color);
    width: fit-content;
    padding-bottom: var(--primary-spacing-size);
}

h2 {
    color: black;
    font-size: var( --font-size-l);
    padding-top: var(--primary-spacing-size);
}

h3 {
    font-size: var(--font-size-m);
    margin-top: 30px;
    margin-bottom: -5px;
}

blockquote {
    color: var(--blockquote-color);
    font-weight: bold;
    font-style: italic;
    font-size: var(--font-size-s);
    margin-left: var(--primary-spacing-size);
    padding-top: var(--primary-spacing-size);
}

p {
    font-family: 'IBMPlexSerif';
    color: var(--main-text-color);
    font-size: var(--font-size-s);
    padding-top: var(--primary-spacing-size);
}

figure {
    width: 80%;
    margin: auto;
}

figcaption {
    font-family: 'IBMPlexSans';
    color: var(--caption-text-color);
    font-size: var(--font-size-xs);
    font-weight: bold;
    font-style: normal;
}

cite {
    font-family: 'IBMPlexSans';
    color: var(--caption-text-color);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: bold;
}

table {
    color: var(--main-text-color);
    font-size: var(--font-size-s);
    text-align: left;
    border-spacing: 10px;
    padding-top: var(--primary-spacing-size);
}

thead {
    color: var(--main-header-color);
    font-size: var(--font-size-m);
    border-radius: 0.25em;
}

form,
legend {
    color: var(--main-header-color);
    margin-bottom: var( --main-spacing-size);
    font-size: var(--font-size-s);
    font-weight: bold;
}

fieldset {
    margin-top: var( --main-spacing-size);
    margin-bottom: var( --main-spacing-size);
    height: 600px;
    width: 600px;
}

legend {
    font-size: var(--font-size-m);
    margin-bottom: 25px;
}

a {
    color: var(--main-text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: var(--font-size-s);
    text-decoration: none;
}