.chapter-intro {
    font-family: 'IBMPlexSans';
    color: #706F6F;
    font-weight: bold;
}

#user-experience-block {
    text-align: center;
    background-color: #F0EFEF;
}

.input-name {
    width: 400px;
}

#comment {
    height: 70px;
}