@font-face {
    font-family: "IBMPlexSans";
    src: url("/_data/styles/fonts/IBMPlexSans-Italic.otf")
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("/_data/styles/fonts/IBMPlexSans-Bold.otf")
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("/_data/styles/fonts/IBMPlexSans-Light.otf")
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("/_data/styles/fonts/IBMPlexSans-Regular.otf")
}

@font-face {
    font-family: "IBMPlexSerif";
    src: url("/_data/styles/fonts/IBMPlexSerif-Italic.otf")
}

@font-face {
    font-family: "IBMPlexSerif";
    src: url("/_data/styles/fonts/IBMPlexSerif-Bold.otf")
}

@font-face {
    font-family: "IBMPlexSerif";
    src: url("/_data/styles/fonts/IBMPlexSerif-Light.otf")
}

@font-face {
    font-family: "IBMPlexSerif";
    src: url("/_data/styles/fonts/IBMPlexSerif-Regular.otf")
}